body,
html {
  width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6f6f6f;
}
*{
     font-family: 'Raleway', sans-serif;
     box-sizing: border-box;
    line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url(../image/slide-1.jpg);
    background-position: center;
    background-size: cover;
    z-index: 0;
    position: relative;
}

.menu {
    width: 100%;
    position: absolute;
    z-index: 11;
    overflow: auto;
}

.twoside-gaping {
    width: 90%;
    z-index: 1234;
    margin: auto;
    overflow: auto;
}
.container {
    width: 90%;
    padding: 0px 15px;
    margin: 0 auto;

}

.inermenu {
    width: 100%;
    float: right;
}

.logo {
    width: 20%;
    float: left;
    margin-top: 12px;
    text-align: right;
}

.menu-list {
    width: 80%;
    float: right;
    text-align: center;
}

.list {
    display: inline-block;
    padding: 13px;
    top: 0;
    font-family: sans-serif;
    text-align: right;
}

.alist {
    text-decoration: none;
    font-weight: 700;
    color: white;
    text-align: right;
}



.hello {
    width: 100%;
    position: absolute;
    bottom: 20%;
    z-index: 12345;
}

.heloin {
    width: 60%;
    margin: auto;
    text-align: center;
}

.oyy {
    font-family: Raleway, sans-serif;
    text-align: center;
    
    
    font-size: 48px;
    font-weight: 700;
    line-height: 1.7;
    color: white;
    margin-bottom: 7px;
}

.twoside {
    width: 90%;
    margin: auto;
}

.oyy1 {
    
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.see-over {

    width: 170px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #d73e4d;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
}

.sec2 {
/*
    width: 100%;
position: relative;
*/
    width: 100%;
    background-color: white;
    padding: 100px 0px;
}

.secside {
    width: 68%;
    margin: auto;
    position: relative;
}

.hed {
    text-align: center;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
}

.su {
        margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #292929;
    line-height: 1.1;
    font-size: 36px;
}
.redline{
    margin: auto;
    background-color: red;
    width: 25px;
    height: 3px;
    left: 0;
    right: 0;
    top: 170px;
}
.pera{
   
    
    font-size: 16px;
    line-height: 26px;
    color: #6f6f6f;
    text-align: center;
}
.secsid{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.col4{
    width: 25%;
    float: left;
    padding:0px 15px;
    margin: auto;
}
.about-us{
    width: 130px;
    height: 130px;
    margin: 0 auto;
    line-height: 130px;
    border-width: 2px;
    font-size: 36px;
    color: #292929;
    border-color: #d73e4d;
    border-style: solid;

    border-radius: 50%;
}
.h5a{
    
    color: #292929;
    margin: 35px 0 20px;
}
.abc {
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    color: #292929;
    font-weight: 700;
    text-align: center;
}
.pera1{
    text-align: center;
    width: 94%;
        line-height: 26px;
     font-size: 14px;
    color: #6f6f6f;
    font-family: 'Raleway', sans-serif;
}
.more{

    
        text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #d73e4d;
    width: 130px;
    line-height: 45px;
    margin-top: 22px;
    color: #292929;
    
}
.iconfont{
    font-size: 36px;
    text-align: center;
    
}
.sec3{
    width: 100%;
    position: absolute;    
}
.service-sec {
    width: 100%;
    padding-top: 100px;
    background-color: #232a34;
    padding-bottom: 80px;
    position: relative;
}
.container {
    width: 90%;
    padding: 0px 15px;
    margin: 0 auto;
}
.our-about {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.ser {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
/*    margin-bottom: 15px;*/
}
.line {
    text-align: center;
    width: 25px;
    height: 3px;
    background-color: #d73e4d;
/*    margin-top: 10px;*/
    margin-left: -12px;
    left: 50%;
    position: absolute;
}
.ser-pera {
    font-size: 16px;
    line-height: 26px;
    margin: 50px auto 0px;
    color: white;
}
.common-cont {
    width: 100%;
    overflow: auto;
    margin-top: 30px;
}
.ser-data {
    width: 33.33%;
    padding: 25px 15px 0px;
    float: left;
}
.ser-inner {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 110px 23px 65px;
    border: 1px solid #808489;
}
.ser-logo-hide {
    width: 100%;
}
.ser-logo {
    font-size: 48px;
    color: #808489;
    width: 80px;
    margin: 0 auto;
    background-color: #232a34;
}
.fas {
    font-weight: 900;
}
.web-ser {
    font-size: 18px;
}
.web-de {
    color: #808489;
    text-transform: capitalize;
    margin-top: 33px;
    display: inline-block;
    text-decoration: none;
}
.about-sec {
    width: 100%;
    background-color: white;
    padding-top: 100px;
}
.about-h2 {
    color: #292929;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}
.about-pera {
    font-size: 16px;
    line-height: 26px;
    margin: 50px auto 0px;
    color: #6f6f6f;
    text-align: center;
    width: 100%;
}
.pro-list {
    text-align: center;
    margin: 34px 0px 40px 0px;
}
.pro-list-items {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 15px 10px 0px;
    padding: 0px 8px;
}
.partner-sec {
    margin: 100px 0 0;
    background-color: #f9f9f9;
    padding: 50px;
}
.list-one {
    border-bottom: 1px solid #d73e4d;
}
.pro-anchor {
    display: inline-block;
    text-decoration: none;
    color: #292929;
    text-align: center;
    padding-bottom: 10px;
}
.pic-pro {
    width: 33.33%;
    padding: 0px 15px;
    margin-bottom: 32px;
    float: left;
}
.pic {
    width: 100%;
}
.cre-section {
    background-image: url(../image/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 70px;
    width: 100%;
}
.cre-work {
    text-align: center;
    padding: 134px 0px 137px;
    background-color: rgba(0, 0, 0, 0.8);
}
.cre-clr {
    color: #d73e4d;
}
.cre-together {
    width: 200px;
    line-height: 45px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #d73e4d;
}
.cre-section .cre-work h3 {
    color: white;
    margin-bottom: 25px;
    font-size: 28px;
}
.team-member {
    width: 33.33%;
    float: left;
    padding: 0px 15px;
    margin-bottom: 30px;
}
.team-pic-mem {
    background-color: #e6e6e6;
    text-align: center;
}
.team-pic {
    width: 100%;
    overflow: hidden;
}
.name-member {
    text-align: center;
}
.name-txt {
    color: #696f78;
    font-size: 18px;
    padding-top: 12px;
    line-height: 1.1;
}
.name-web {
    color: #373a3f;
    margin: 5px 0 8px;
}
.skill-section {
    width: 100%;
    background-color: #232a34;
    margin-top: 70px;
}
.skill-cont {
    width: 100%;
    overflow: auto;
}
.skill-pic {
    width: 50%;
    float: left;
    padding: 0px 15px;
}
.skill-per {
    margin: 125px 0px 0px;
    width: 100%;
    position: relative;
}
.ratio-per {
    background-color: white;
    height: 30px;
    width: 100%;
    margin: 0px 0px 38px;
    position: relative;
}
.skill-text {
    position: absolute;
    top: -29px;
    left: 0;
}
.skill-txt-code {
    font-weight: 700;
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
}
.per-red {
    width: 89%;
}

.color-red {
    height: 100%;
    background-color: #d73e4d;
}
.per-txt {
    font-size: 14px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: -30px;
    left: 90%;
}
.per-txt1 {
    font-size: 14px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: -30px;
    left: 58%;
}
.per-red2 {
    width: 58%;
}
.per-txt2 {
    font-size: 14px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: -30px;
    left: 49%;
}
.per-red3 {
    width: 49%;
}
.per-txt3 {
    font-size: 14px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: -30px;
    left: 76%;
}
.per-red4 {
    width: 76%;
}
.per-txt4 {
    font-size: 14px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: -30px;
    left: 64%;
}
.per-red5 {
    width: 64%;
}
.team-member11 {
    width: 180px;
margin: auto;
}
.about-pera4{
    font-size: 18px;
    line-height: 28px;
    color: #343434;
    margin: 33px auto 24px;
}
.client-slider{
    text-transform: capitalize;
    margin-bottom: 45px;
        font-size: 18px;
        color: #292929;
    font-weight: 700;
}
.owl-theme {
    margin: auto;
    text-align: center;
}
.owl-controls{
    margin: auto;
}
.red{
    color: #d73e4d;
}
.basic{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #292929;
    line-height: 1.1;
}
.team-pic12 {
    padding: 10px;
    text-align: center;
}
.about-pera123 {
    font-size: 14px;
    line-height: 26px;
    color: #6f6f6f;
        margin: 4px 0px 20px;
    line-height: 26px;
}
.about-pera4818 {
    font-size: 16px;
    line-height: 26px;
    margin: 50px auto;
    color: #6f6f6f;
    text-align: center;
    width: 69%;
}
.strong {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    display: block;
    padding: 23px 0;
    margin-bottom: 30px;
    text-align: center;
    background-color: #d6973d;
}
.blu{
    background-color: #375099;
}
.co3{
    background: #179680;
}
ul{
        list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 14px;
}

.strong-span {
    font-size: 14px;
    vertical-align: middle;
}
.sec6{
    width: 100%;
    background-color: #f3f3f3;
    padding: 100px 0px ;
    margin-top: 45px;
}
.sec6 .team123 ul li
{
    line-height: 45px;
}
.clr1{
    background-color: #f7f8f4;
}
.team123{ display: block;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    text-align: center;
    padding: 28px 0 22px;
}
.team-member2 {
    width: 33.33%;
    float: left;
    padding: 0px 15px;
    margin-bottom: 30px;
    text-align: center;
}
.button{
    width: 150px;
    color: white;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #d74e3d;
    display: inline-block;
    text-decoration: none;
    margin-top: 22px;
    border: 1px solid #d74e3d;
}
.coll2{
    width: 33.33333%;
    float: left;
    padding: 0px 15px;
        margin-bottom: 30px;
}
.blog-data {
    margin-top: 55px;
    width: 100%;
}
.blog-text {
    width: 100%;
}
h6 {
    font-size: 18px;
}
.blog-ref {
    line-height: 26px;
    display: block;
    text-decoration: none;
    color: #292929;
    margin: 40px 0px 15px;
    text-transform: capitalize;
    text-align: left;
}
.aboua {
    color: #292929;
    font-size: 15px;
    margin-bottom: 18px;
    text-decoration: none;
}
.admin {
    color: #d73e4d;
}
.qwe{
    text-align: left;
}
p123 {
    font-size: 14px ;
    line-height: 26px;
        font-family: 'Raleway', sans-serif;
    text-align: left;
}
.about-sea {
    color: #292929;
    text-decoration: none;
}
.part-common {
    width: 100%;
    overflow: auto;
}
.partner-logo {
    width: 20%;
    text-align: center;
    float: left;
}
.part-icon {
    border: 1px solid #dfdfdf;
    height: 118px;
    padding-top: 22px;
}
.loc-sec {
    width: 100%;
    background-color: white;
}
.common {
    width: 100%;
    overflow: auto;
}
.contact {
    float: left;
    width: 50%;
    padding: 0 15px;
}
.loc-head {
    font-size: 36px;
    margin: 95px 0 35px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #292929;
    line-height: 1.1;
}
.loc-pera {
    margin-bottom: 20px;
    line-height: 26px;
}
.loc-ul {
    margin-top: 70px;
}
.loc-items {
    position: relative;
    padding-left: 85px;
    margin-bottom: 50px;
}
.loc-icon {
    width: 60px;
    height: 60px;
    border: 1px solid #d73e4d;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -9px;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 30px;
    background-color: #d73e4d;
}
.icon-h6 {
    font-size: 14px;
    margin-bottom: 8px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #292929;
    line-height: 1.1;
}
.map-main {
    position: relative;
}
.map-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.common-form {
    width: 100%;
    overflow: auto;
}
.form-main {
    width: 33.33%;
    float: left;
    padding: 0 10px 0 0;
}
.form-upr {
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #dfdfdf;
    padding: 15px 15px;
}
.form-main-you {
    width: 33.33%;
    float: left;
}
.form-sub {
    width: 100%;
}

.form-msg {
    width: 100%;

}
.send-h2 {
    font-size: 36px;
    margin: 50px 0 40px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #292929;
    line-height: 1.1;
}
.send {
    background-color: #d73e4d;
    border: 1px solid #d73e4d;
    width: 140px;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.first-row {
    width: 100%;
    overflow: auto;
}
.first-part {
    width: 33.33%;
    float: left;
}
.inner-part {
    height: 50px;
    margin-bottom: 20px;
}
.last-part {
    width: 33.33%;
    /* padding-left: 15px; */
    float: left;
}
.loc-sec .form-msg form textarea {
    border: 1px solid #dfdfdf;
    width: 100%;
    height: 260px;
    margin-bottom: 25px;
    padding: 20px 15px;
}
.send {
    background-color: #d73e4d;
    border: 1px solid #d73e4d;
    width: 140px;
    line-height: 40px;
    /* padding: 15px 10px; */
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.loc-sec .form-msg .inner-part input {
    width: 100%;
    height: 100%;
    border: 1px solid #dfdfdf;
    padding: 0 15px;
}
.middle-part {
    width: 33.33%;
    padding: 0 15px;
    float: left;
}
.footer-section {
    width: 100%;
    background-color: #1e1e1e;
    margin-top: 100px;
    padding: 60px 0 25px;
    text-align: center;
}
.footer-logo {
/*    margin-bottom: 20px;*/
    text-decoration: none;
    display: inline-block;
}
.footer-section ul li {
    display: inline-block;
    margin-top: 13px;
}
.footer-section ul li a {
    width: 45px;
    line-height: 45px;
    font-size: 18px;
    margin: 0 7px;
    border: 1px solid;
    text-decoration: none;
    display: inline-block;
}

.foot-soc-icon {
    color: #677fb5;
    border-color: #677fb5;
    border-radius: 50%;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.footer-section p {
    color: #fff;
    font-size: 15px;
    margin-top: 40px;
}
.fa, .fas {
    font-weight: 900;
}
.color-foot {
    display: inline-block;
    text-decoration: none;
    color: #337ab7;
}
.foot-soc-icon2 {
    border-radius: 50%;
    color: #70c2e9;
    border-color: #70c2e9;
}
.foot-soc-icon3 {
    border-radius: 50%;
    color: #d8545d;
    border-color: #d8545d;
}
.foot-soc-icon4 {
    border-radius: 50%;
    color: #007ab9;
    border-color: #007ab9;
}
.foot-soc-icon5 {
    border-radius: 50%;
    color: #5ecbf3;
    border-color: #5ecbf3;
}
.foot-soc-icon6 {
    border-radius: 50%;
    color: #ff3ba4;
    border-color: #ff3ba4;
}
.foot-soc-icon7 {
    border-radius: 50%;
    color: #e299c2;
    border-color: #e299c2;
}
.foot-soc-icon8 {
    color: #faaa5e;
    border-color: #faaa5e;
    border-radius: 50%;
}